*{
  margin:0;
  padding:0;
}

body{
  font-family: "effra",sans-serif;
  div#menu{
    max-width: 500px;
  }
}



header{
  -webkit-transition:background 0.5s ease;
  background:rgba(79,195,247,0.01);
  margin-top: -40px;
  padding:20px;
  max-width:500px;

  &:hover{
    -webkit-transition:background 0.5s ease;
    background:rgba(79,195,247,1);
  }
  h1{
    font-weight: 100;
    font-size:120%;
  }

  nav{
    ul{
      margin-top:20px;
      list-style: none;
      li{
        list-style: none;
        margin-top:20px;
        opacity:0;

        &:hover{
          cursor: pointer;
        }
      }
    }
  }
}

#login-box{
  paper-dialog{
    width:400px;
    padding:100px;
    paper-input{
      margin-bottom: 20px;
    }

    #login-copy{
      p{
        margin-bottom: 20px;

      }

      h1{
        margin-top:20px;
        margin-bottom: 20px;
      }
    }

    paper-button{
      background:#ffa61d;
      width:80px;
      color:#fff;
    }

    #fslogo{
      height:80px;
      width:200px;
      margin:0 auto;
      margin-bottom:10px;
      background-image: url('/img/swarm.png');
      background-size:100%;
    }
  }

  #login{
    text-align: center;
  }
}
