<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

      <style>
          *{
              margin: 0;
              padding: 0;
          }
      </style>
  </head>
  <body>




  <script type="text/javascript" src="/js/Three.js"></script>
<!--  <script type="text/javascript" src="/js/Wagner.min.js"></script>
-->

  <script type="text/javascript" src="/js/Stats.js"></script>
  <script type="text/javascript" src="/app/Flock/TriMesh.js"></script>
  <script type="text/javascript" src="/app/Flock/Boid.js"></script>
  <script type="text/javascript" src="/app/Flock/Flock.js"></script>

  <script type="text/javascript" src="/app/Init.js"></script>
  <script type="text/javascript" src="/app/App.js"></script>
  </body>
</html>