<header>
    <h1>DisjointedCities</h1>
    <nav>
        <ul>
            <li>
                <div ng-click="about">About</div>
            </li>
            <li>

                    <div login></div>
            </li>
        </ul>


    </nav>
</header>