<link rel="import" href="/lib/paper-input/paper-input.html"/>
<section id="login-box" class="partial login">
   <p ng-click="showLogin()">Login</p>
  <paper-dialog  id="login" toggle transition="paper-dialog-transition-center">
        <div id="login-copy">
            <div id="fslogo"></div>
            <h1>Sign in with your FourSquare Account</h1>
            <paper-button ng-click="sendLogin()" id="toGoogle" raisedButton class="colored" label="sign in"></paper-button>

        </div>
    </paper-dialog>


</section>